* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'AR One Sans', sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.header {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
  width: 75%;
  margin: 10px auto;
  border-radius: 10px;
}

.container {
  background-color: #eeeeee;
  border-radius: 10px;
  width: 75%;
  margin: 10px auto;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.col {
  flex: 1;
  margin: auto;
}

label {
  font-weight: bold;
}

input {
  padding: 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}
button {
  margin-top: 10px;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: #0056b3;
}
span{
  color: red;
  font-weight: 700;
}
.result {
  margin: 0 auto;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 50%;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding: 20px;
  text-align: left;
  width: 50%;
  margin: 10px auto;
  background-color: #f4f4f4;
  border-radius: 5px;
}
li {
  font-size: 20px;
}
.operators {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  ul .row {
    flex-direction: row;
  }
  .col {
    margin-bottom: 10px;
  }
}