body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
}
label {
  font-weight: bold;
}

input {
  padding: 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  margin-top: 10px;
  padding: 20px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
span{
  font-size: 30px;
  color: red;
  font-weight: 700;
  margin-left: 30px;
  padding: 10px;
}
p {
  margin-top: 20px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
  font-size: 30px;
}